/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
   
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}

button{cursor: pointer;background: none;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; color: black;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
li{
    list-style-type: none;
}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/



/* Начальная страница начало */
.index__logo{
    text-align: center;
}
.index__container{
    width: 1100px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center; 
}
.index__form{
    max-width: 200px;
    border: 5px solid #dae2e8;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.index__form h1{
    margin: 10px 0 10px 0;
    font-size: 18px;
}
.index__inputs{
    display: flex;
    flex-direction: column;
}
.index__inputs input{
    border: 3px solid #dae2e8;
    padding: 2px;
    margin: 2px 10px 2px 10px;
    border-radius: 5px;
    text-align: center;  
}
.index__reg, .index__forgot, .index__inputs button{
    margin: 2px 25px 2px 25px;
    border: 3px solid #dae2e8;
    border-radius: 5px;
    background: #dae2e8;
}
/* Начальная страница конец */




a{
    color: black
}
.h2{
    font-size: 18px;
    color: black;
    margin: 0 0 5% 0;
}
.reg_form input{
    border: 3px solid #dae2e8;
    border-radius: 5px;
    text-align: center;
}
.go_reg, .forgot_pass{
    margin: 1% 0 0 0;
}
.content_index{
    text-align: center;
    margin: 2% 43% 0 43%;
    border: 7px solid #dae2e8;
    border-radius: 15px;
    padding: 1%;
}
.congr{
    color: rgb(43, 180, 43);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 2% 0 0 0;
}
.errors, .success{
    color: red;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 2% 0 0 0;
}
.error{
    color: red;
    font-weight: bold;
    font-size: 12px;
    margin: 5px 0 0 0;
}
.none_photos, .none_posts{
    border: 1px solid #204768;
    padding: 10px;
    margin: 5px 0 0 0;
    text-align: center;
    border-radius: 10px;
}
.none_dialogs{
    padding: 0px 5px 5px 5px;
    text-align: center;    
}
.link{
    background-color: #dae2e8;
    border-radius: 5px;
    display: block;
    padding: 1%;
    width: 50%;
    margin: 0 auto; 
    cursor: pointer;   
}

.header{
    background-color: #204768;
    padding: 0 10px;
    margin: 0 0 5px 0;
    border-radius: 10px;
}
.header__sidebar {
    display: flex;
    justify-content: space-between;
    padding: 2.5px 0 7px 0;
    color: white;
}
.header__logo{    
    font-family: 'Caveat', cursive;
    font-weight: 900;
    font-size: 30px;
}
.header a{
    color: white;
}
.header__item{
    margin: 10px 0 5px 0;
}
.avatarka{
    width: 300px;
}
.avatarka img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.item_li{
    margin: 0 0 6px 0;
    font-size: 18px;
}
.item_li a{
    color: #204768;
}
.change_my_info a{
    color: black;
    margin: -5px 0 0 0;
}
.row{
    display: flex;
    justify-content: space-between;
}
.header_info{
   display: flex;
}
.user_name{
    font-size: 20px;
    font-weight: 900;
    margin: 0 0 5px 0;
}
.user_key{
    font-size: 15px;
    width: 200px;
}
.user_value{
    font-size: 15px;
    width: 400px;
}
.contact_info{
    display: block;
    font-weight: 900;
    font-size: 16px;
    margin: 5px 0 5px 0;
}
.contact_info_2{
    display: block;
    font-weight: 900;
    font-size: 16px;
    margin: 5px 0 5px 0;
    visibility: hidden;
}
.status_user{
    font-weight: normal;
    font-size: 14px;
    padding: 0.5% 0 0 0;
}
.change_profile_form_item{
    display: block;
    border-radius: 4px;
    text-align: left;
    width: 35%;
    padding: 1% 0 1% 1%; 
    margin: 0 0 5px 0;
}
.user_photos{
    margin: 20px 0 0 0;
}
.user_photos_key{
    display: flex;
    justify-content: left;
    border: 1px solid #204768;
    border-radius: 5px;
    padding: 3px 0px 3px 2.8px;
}
.user_photo_item{
    width: 83px;
    height: 83px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 2px 0 0;
 }
 .view_photos{
    display: flex;
    justify-content: left;
    flex-wrap:wrap;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 0 0 5px;
    margin: 5px 0 0 0;
 }
 .view_photo{
    position: relative;
    width: 218.2px;
    height: 218.2px;
    margin: 0 5px 5px 0;
 }
 .view_photo:hover{
    .photo__delete{
        display: block;
    }
 }
 .photo__delete{
    display: none;
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 2px;
    background: white;
    border-radius: 50%;
 }
.view_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
}
.view_song{
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
    border: 1px solid #204768;
    margin: 0 0 5px 0;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
}
audio{
    display: block;
    width: 500px;
    height: 20px;
}






/* Стена пользователя */
.wall_content_items{    
    border-radius: 10px;
    margin: 0 0 5px 0;
    position: relative;
    border: 1px solid #204768;
}
.user_wall_header{
    display: flex;
    padding: 5px 5px 0 5px;
}

.user_wall_header:hover{
    .post__delete{
        display: inline;        
    }
}
.post__delete{
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: 900;
    background: none;
    border: 1px solid #204768;
    border-radius: 10px;
    padding: 3px;
    color: #204768;
}
.wall__like, .wall__dislike{
    position: absolute;
    bottom: 1px;
    right: 33px;
    background: none;
    color: #204768;
    font-size: 18px;
}
.wall__dislike{
    right: 3px;
}
.wall__like img, .wall__dislike img{
    width: 18px;
}
.wall__post:hover{
    .liked__users{
        display: flex;
    }
}



.test1{
    margin: 50px;
}
.test2{
    display: none;
    margin: 50px;
    width: 50px;
}
.test1:hover{
    .test2{
        display: block;
    }
}








.liked__users, .disliked__users{
    position: absolute;
    bottom: 1px;
    right: 65px;
    border-radius: 5px;
    padding: 3px;
    max-width: 100px;
    max-height: 30px;
    display: none;

}
.liked__images img, .disliked__users img{
    width: 25px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.wall_content__time{
    margin: 8px 0 0 0;
    color: #63676b;
    font-size: 16px;
}
.wall_content__info{
    margin: 0 0 0 5px;
}
.wall_img{
    text-align: center;
    padding: 0 0 5px 0;
}
.wall_img img{
    max-width: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.wall_content_key{
    padding: 5px 5px 0px 10px;
    max-width: 500px;
    word-wrap: break-word;
}




.photos_form{
    margin: 4px 0 0 0;
    min-width: 400px;
}
.photos_form input{
    border: 1px solid #204768;
    width: 90%;
    border-radius: 7px;
    padding: 5px;
}



.change__data{
    display: flex;
    font-size: 16px;
}

.change__label{
    padding: 1px 0 1px 0;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 0 5px 0;
    height: 25px;

}
.change__title{
    margin: 0 0 5px 0;
    font-weight: 900;
    height: 25px;
    padding: 1px 0 1px 0;

}
.change__hidden{
    margin: 0 0 5px 0;
    font-weight: 900;
    height: 25px;
    padding: 1px 0 1px 0;
    visibility: hidden;
}
.change__input input, select{
    border: 1px solid #204768;
    padding: 1px 0 1px 2px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 0 5px 0;
    height: 25px;
    width: 200px;
}
.change__input textarea{
    border: 1px solid #204768;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 0 5px 0;
    width: 200px;
    height: 140px;
    resize: none;
}
.change__labels{
    margin: 0 30px 0 0;
}
.change__values{
    width: 200px;
    margin: 0 35px 0 0;
}
.change__avatar{
    width: 300px;
    height: 400px;
    margin: 25px 0 0 0;
}
.change__avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.change__avatar img:hover{
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}









.wall_form{
    margin: 5px 0 0 0;
    width: 800px;
}
.dialog_form form{
    margin: 0 0 0 15px;
}
.wall_form input{
    border: 1px solid #204768;
    width: 100%;
    border-radius: 7px;
    padding: 4.6px;
}
.wall_form input:hover, .photos_form input:hover{
    background-color: #f3f3f3;
}
.wall_form_button button, .photos_form_button button, .change__btn button{
    border: 1px solid #204768;
    border-radius: 7px;
    color: #204768;
    padding: 5px 2px 5px 2px;
    margin: 4px 0 0 1px;
}
.photos_clip_icon{
    margin: 7px 0 0 -60px;
    cursor: pointer;
}
.clip_icon{
    margin: 7px 0 0 -20px;
    cursor: pointer;
}
.flex_obj{
    display: flex;
}
.h_s_item{
    margin: 3px 0 0 0;
}

.friend_list, .followers__list{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    border: 1px solid #204768;
    border-radius: 10px;
    width: 300px;
}
.friend_list a{
    color: #204768;
}
.change_my_info{
    font-size: 14px;
}
.change_info{
    margin: 0 0 2% 0;
}
.name__url{
    font-weight: 900;
    font-size: 16px;
    color: #204768;
}
.wrapper_reg{
    text-align: center;
    width: 200px;
    border: 2px solid #204768;
    border-radius: 5px;
    padding: 5px;
    margin: 5% auto;
}
.wrapper_reg input{
    border: 1px solid #204768;
    padding: 1px;
}
.wrapper_reg h1{
    margin: 0 0 5px 0;
}
.reg_input{
    margin: 0 0 5px 0;
}
.wrapper_main, .wrapper_users, .wrapper_change, .wrapper_views{
    width: 1100px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;  
}
.rows_user, .rows_change, .rows_views{
    display: flex;
    justify-content: space-between;
}
.col1, .col1_user, .col1_change, .col1_views{
    width: 200px;
    padding: 0 14px 0 2px;
}
.col2{
    width: 300px;
}
.col2_user, .col2_change, .col2_views{
    text-align: left;
    width: 900px;
    max-width: 900px;
    flex-wrap: wrap;
}
.col3{
    max-width: 600px;
    width: 600px;
    margin: 0 0 0 10px; 
}
.col3_views{
    max-width: 500px;
    width: 500px;
    padding: 0 14px 0 14px;
    margin: 0 5px 0 0;
}
.user_item{
    display: flex;
    margin: 0 0 1% 0;
    border: 1px solid #204768;
    padding: 1%;
    border-radius: 5px;
    background-color: #f3f3f3;
}
.user_item_img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit:scale-down;
}
.followers__span, .friends__span{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 2px 0;
}
.friends_item_name img, .item__name img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    margin: 2px 0 0 0;
}
.friends_item, .followers__item{
    text-align: center;
    padding: 5px;
}
.user_item_name{
    margin: 0 0 0 5px;
    font-size: 20px;
}
.user_item_name a{
    color: #204768;
    font-weight: 900;
}
.user_item_hometown{
    margin: 0 0 0 5px;
    font-size: 20px;
    color: rgb(90, 90, 90);
}
.send__message{
    padding: 2px 0 2px 0;
    border: 1px solid #204768;
    border-radius: 5px;
    background-color: #f3f3f3;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 2px 0 2px 0;
}
.add__friend__btn{
    border: 1px solid #204768;
    width: 100%;
    border-radius: 5px;
    padding: 2px 0 2px 0;
    font-size: 16px;
    margin: 2px 0 0 0;
}
.send__req, .delete__friend{
    padding: 2px 0 2px 0;
    text-align: center;
    margin: 0 0 2px 0;
    cursor: default;
    font-size: 15px;
}
.chat{
    height: 840px;
    overflow: auto;
    scroll-behavior: smooth;    
}
.message{
    margin: 0 0 5px 0;
    background-color: #f3f3f3;
    padding: 2px 5px 2px 5px;
    border: 1px solid #204768;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
}
.message__user a{
    color: #204768;
    font-weight: 900;
}

.message__pic img{
    margin: 5px 0 5px 0;
    max-width: 225px;
    max-height: 300px;
    border-radius: 5px;
}
.message__text{
    margin: 10px 0 0 0;
}
.message__content{
    margin: 0 0 0 5px;
}
.message__time{
    font-size: 12px;
}

.message__item{
    margin: 2px 0 0 0;
}
.chat{
    margin: 5px 0 0 0;
}
.chat_button{
    padding: 5px;
    border: 1px solid #204768;
    border-radius: 5px;
}
.chat_form input:nth-child(1){
    border: 1px solid #204768;
    border-radius: 5px;
    text-align: left;
    width: 400px;
    height: 28px;
    text-align: left;
    padding: 0 0 0 5px;
}
.chat_form input:nth-child(1):hover, .chat_form input:nth-child(1):focus{
    background-color: #cbdeee;
}
.chat_form input:nth-child(3){
    padding: 5px;
    border: 1px solid #204768;
    border-radius: 5px;
}

.dialog_form{
    border: 1px solid #204768;
    border-top: 0;
    padding: 5px 0 5px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dialogs__content{
    padding: 5px 5px 0 5px;
    border: 1px solid #204768;
    border-radius: 5px;
    overflow: scroll;
    max-height: 840px;
    overflow: auto;
}
.dialogs__content2{
    border: 1px solid #204768;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

} 
.dialogs__message{
    padding: 5px 5px 5px 5px;
    border: 1px solid #204768;
    border-radius: 5px;
    display: flex;
    margin: 0 0 5px 0;
    position: relative;
}
.dialogs__message:hover{
    .dialog__delete{
        display: inline;
    }
}
.dialog__delete{
    display: none;
    position: absolute;
    top: 15px;
    right: 20px;
    font-weight: 900;
    background: none;
    border: 1px solid #204768;
    border-radius: 10px;
    padding: 3px;
    color: #204768;
}
.img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.dialogs__text{
    margin: 0 0 0 8px;
}
.dialogs__name a{
    color: #204768;
    font-weight: 900;
    font-size: 16px;
}
.dialog__message{
    margin: 8px 0 0 0;
    font-size: 14px;
}
.dialog__message span{
    font-size: 12px;
}
.dialogs__info{
    display: flex;
}
.dialogs__sender a{
    margin: 0 5px 0 0;
    color: #204768;
    font-weight: 900;
    font-size: 16px;
}
.dialogs__sender{
    margin: 0 0 0 10px;
}
.dialogs__time{
    font-size: 14px;
    margin: 4px 0 0 0;
}
.dialogs__item{
    margin: 0 0 5px 0;
    padding: 2px 0 2px 10px;
    overflow: auto;
    height: 780px;
}
.dialogs__item::-webkit-scrollbar {
    width: 5px;
}
.dialogs__item::-webkit-scrollbar-thumb {
    background-color: #204768;
}
.user__info{
    border-bottom: 1px solid #204768;
    padding: 2px 3px 2px 3px;
}
.user__info a{
    color: #204768;
    font-weight: 900;
    font-size: 16px;
}
.user__info__row{
    display: flex;
    margin: 0 0 2px 0;
}
.user__name{
    margin: 0 0 0 5px;
}
.user__name a{
    font-size: 18px;
}
.user__time{
    margin: 5px 0 0 0;
}
