{%extends 'base.html'%}
{% load static %}

{%block title%}Диалоги{%endblock%}


{%block content%}
    <div class="wrapper_users">
    {% include "header.html" %}
    <div class="rows_user">

        <div class="col1_user">
            {% include "menu.html" %}
        </div>
        <div class="col2_user">

            <div class="dialogs__content">
                {% if allDialogues %}
                {% for dialog in allDialogues %}
                {% if dialog.status_message == 0 %}
                <div class="dialogs__message" style="background: #cbdeee9d;">
                {% else %}
                <div class="dialogs__message">
                {% endif %}
                    <div class="dialogs__image">
                        <a href="{% url 'viewUser' dialog.user_sender_id %}"><img class="img" src="{% static dialog.avatar|cut:'mysite/static' %}"></a>
                    </div>
                    <div class="dialogs__text">
                        <div class="dialogs__name">
                            <a href="{% url 'viewUser' dialog.user_sender_id %}">{{ dialog.name_sender }}</a>
                        </div>
                        <div class="dialog__message">
                            <a href="{% url 'viewDialogues' dialog.user_sender_id %}">{% if dialog.name_last_sender != dialog.name_recipient %}{{ dialog.name_last_sender }}: {% else %}Вы: {% endif %}{{ dialog.last_message }}</a>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="sender_id" value="{{ dialog.user_sender_id }}">
                                <button type="submit" class="dialog__delete">Удалить</button>                                
                            </form>                            
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="none_dialogs">
                    <span>Вы пока ни с кем не общались.</span>
                </div>
                {% endif %}
            </div>


        </div>

    </div>     
    </div>
{%endblock%}