{%extends 'base.html'%}
{% load static %}

{%block title%}Авторизация{%endblock%}

{% block content %}

<div class="index__container">
	<div class="index__logo">
		<img src="{% static 'images/icons/logo.png' %}" alt="">
	</div>
	<div class="index__form">
		<form method="POST">
			{% csrf_token %}
			<h1>Авторизация</h1>
			<div class="index__inputs">
				<input type="text" placeholder="Логин" name="log" autofocus>
				<input type="password" placeholder="Пароль" name="psw">
				<button type="submit">Войти</button>
			</div>
			<div class="index__reg">
				<a href="{% url 'reg' %}">Регистрация</a>
			</div>
			<div class="index__forgot">
				<a href="{% url 'forgot' %}">Восстановить пароль</a>
			</div>
			<div class="errors">
				{{ err }}
			</div>
			<div class="success">
				{{ success }}
			</div>
		</form>
	</div>
</div>
{% endblock %}



