{% extends 'base.html' %}
{% load static %}


{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="logo">
	<img src="{% static 'images/logo.png' %}" alt="">
</div>
<div class="wrapper_reg">
	
	<div class="reg_form">
		<form action="" class="auth" method="POST">
			{% csrf_token %}
			<h1>Регистрация</h1>
			<input type="text" placeholder="Имя" class="reg_input" name="first_name">
			<input type="text" placeholder="Фамилия" class="reg_input" name="last_name">
			<input type="text" placeholder="Логин" class="reg_input" name="username">
			<input type="email" placeholder="Электронная почта" class="reg_input" name="email">
			<input type="password" placeholder="Пароль" class="reg_input" name="password">
			<input type="submit" value="Зарегистрироваться"><br>
		</form>
	</div>
	<div class="congr">
		{{congr}}
	</div>
	<div class="reg_back">
		<a href="{% url 'home' %}" class="reg_back_link">Вернуться на главную</a>
	</div>
</div>
{% endblock %}