{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" href="{% static 'css/index.css' %}" rel="stylesheet">
</head>
<body>
    <div class="test1">
        При наведении на этот текст, должна появиться картинка снизу.
    </div>
    <div class="test2"> 
        А вот и она)
        <img src="{% static 'images/icons/like.png' %}" >
    </div>
    
</body>
</html>