{%extends 'base.html'%}
{% load static %}

{%block title%}Список пользователей платформы{%endblock%}


{%block content%}
    <div class="wrapper_users">
    {% include "header.html" %}
    <div class="rows_user">

        <div class="col1_user">
            {% include "menu.html" %}
        </div>
        <div class="col2_user">
            <div class="user_list">
                {% for user in AllUsers %}
                <div class="user_item">
                    <div class="user_item_img">
                        <img src="{% static user.avatar|cut:'mysite/static' %}">
                    </div>
                    <div class="user_item_name">
                        <a href="{% url 'viewUser' user.id %}" class="user_links">{{ user.first_name }} {{ user.last_name }}</a>
                    </div>
                    {% if user.hometown %}
                    <div class="user_item_hometown">
                        ({{ user.hometown }})
                    </div>
                    {% else %}
                    <div class="user_item_hometown">
                        <span>(Город не указан)</span>
                    </div>                    
                    {% endif %}
                </div>                
                {% endfor %}
            </div>
        </div>
    </div> 
    </div>
{%endblock%}
